
.scrollComponent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.uploadButton {
    position: absolute;
    right: 0;
    bottom: -45px;
    background: rgb(2,93,158);
    color: white;
    border-radius: 10px;
    padding-inline: 1.2rem;
    padding-block: 0.8rem;
    cursor: pointer;
}

.createPostContainer {
    display: flex;
    align-items: center;

    width: 100%;
    gap: 1rem;
    position: relative;
    padding-inline: 0.8rem;
    align-items: center;
    background: rgb(255, 246, 246);
    border-radius: 15px;
}

.wrapper {
    width: 70%;
    display:flex;
    flex-direction: column;
    gap: 1.3rem;
    max-width: 80%;
}

.createPostContainer > img {
    width: 70px;
    height: 70px;

    border-radius: 50%;
    object-fit: cover;

    display: block;
}

.createPostContainer > textarea {
    width: 100%;
    height: 70px;

    padding: 1rem;

    resize: none;

    margin: 0;   /* IMPORTANT */
}



.Fab {
    align-items: center;
    justify-content: center;
    background: rgb(12, 50, 156);
    border-radius: 100%;

    width: 48px;
    height: 48px;

    display: flex;

    align-self: center;
}

.Fab > svg {
    width: fit-content;
    height: 24px;
    color: white;
}

.textAreaOfContent {
    width: 80%;
    height: 70px;
    border: 1px solid silver;
    border-radius: 10px;
    padding-inline: 1.5rem;
    padding-block: 0.8rem;
    outline: none;


}

.singleCard {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid rgb(179, 179, 179);
    
}

.singleCard_profileContainer {
    display:flex;
    align-items: flex-start;
    gap: 1.2rem;
    padding: 1.2rem;
    padding-right: 3.4rem;
}

.singleCard_profileContainer > img {
    width: 10%;
    border-radius: 50%;
}

.singleCard_image {
    width: 100%;
    padding-top: 0.6rem;
    height:fit-content;
    overflow: hidden;
}

.singleCard_image > img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* .optionsContainer {
    display: flex;
    height: 20%;
    width: 100%;
} */

.optionsContainer {
    display: flex;
    align-items: center;
    height: 55px;
    width: 100%;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    justify-content: space-between;
}

.singleOption__optionsContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: 1.2rem;
    cursor: pointer;
}


.singleOption__optionsContainer > svg {
    height: 30px;
    width: 30px;
}

/* .singleOption__optionsContainer > svg {
    height: 100%;
} */


.commentsContainer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    justify-content: center;
    display: flex;
    align-items: center;
}


.allCommentsContainer {
    width: 40vw;
    height: 80vh;
    background: white;
    border-radius: 10px;
    position: relative;
    padding: 1.5rem;
}

.postCommentContainer {
    position: absolute;
    bottom: 1.2rem;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}

.postCommentContainer > input {
    flex: 0.9;
    padding-inline: 1.5rem;
    padding-block: 1.2rem;
    border: none;
    outline: none;
    background: rgb(228, 228, 228);
    border-radius: 10px;
}

.postCommentContainer > input:focus {
    border: 1px solid silver;
}

.postCommentContainer__commentBtn {
    flex: 0.1;
    width: fit-content;
    padding: 1.2rem;
    background: orange;
    border-radius: 10px;
    text-align: center;
    color: white;
    cursor: pointer;
}
