.container{
    display: flex;
    justify-content: center;
    height: 90vh;
    align-items: center;
    background: snow;
}

.cardContainer {
    height: 80vh;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    width: 80vw;
    border-radius: 10px;
    background: white;
    box-shadow: 10px 10px 15px rgb(173, 173, 173)
}

.cardContainer_left {
    flex: 0.6;
    padding: 2rem;
    text-align: center
}


   .cardleft_heading {
    font-weight: bold;
    font-size: 1.8rem;
  }
    /* .inputField {
        padding-inline: 1.3rem;
        padding-block: 0.8rem;
        outline: none;
        border-radius: 10px;
        border: 1px solid silver;
    } */

   
    .inputContainers {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 1.3rem;
        max-width: 400px;
        margin: 0 auto;
        gap: 1.5rem;

    }
    .inputRow {
        width: fit-content;
        display: flex;
        gap: 1.2rem;
    }

     .inputField {
        padding-inline: 1.3rem;
        padding-block: 0.8rem;
        outline: none;
        border-radius: 10px;
        border: 1px solid silver;
        width: 100%;
    }


    .buttonWithOutline {
      padding: 0.8rem 1.3rem;
      background-color: rgb(196, 191, 191);
      width: 100%;
      border-radius: 10px;
      cursor: pointer;
       
    }

.cardContainer_right {
    flex: 0.4;
    background: rgb(42, 93, 155);
    display: flex;
    justify-content: center;
    align-items: center;
}

