.container {
    width: 100%;
}

.homeContainer {
    display: flex;
}


.homeContainer > div:nth-child(odd) {
    flex : 0.2;
}

.homeContainer > div:nth-child(even) {
    flex: 0.6;
}

.homeContainer_leftBar {
    display: flex;
    flex-direction: column;
    gap : 1.2rem;
    align-items: start;
    border-right: 1px solid rgb(222, 222, 222);
}

.sideBarOption {
    display : flex;
    align-items: center;
    font-size: 1.4rem;
    gap: 1.3rem;
    width: 80%;
    max-width: 80%;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.2s;;
}

.sideBarOption:hover {
    transform : scale(1.04);
}

.sideBarOption > svg {
    height: 1.4em;
    min-width: fit-content;
}

.homeContainer_extraContainer {
    border-left: 1px solid rgb(222, 222, 222);
    padding-left: 1.2rem;
}

.homeContainer_feedContainer {
    padding-inline: 0.8rem;

}


@media (max-width: 768px) {

    .homeContainer_leftBar {
        display: none;
    }

    .homeContainer_extraContainer {
        display: none;
    }

    .homeContainer_feedContainer {
        width: 100%;
        padding: 0;
    }
}