.container {
    padding : 1.2rem;
}

.navBar {
    display: flex;
    align-items : center;
    justify-content: space-between;
}

.navBarOptionContainer {
    display: flex;
}

.buttonJoin {
     width: fit-content;
    cursor: pointer;
    user-select: none;
    transition: all 0.2s;
    margin-top: 0.8rem;
    font-size: 1.4rem;
    background: rgb(204, 51, 181);
    color: white;
    padding-inline: 1.2rem;
    padding-block: 0.6rem;
    border-radius: 20px;
}